<h1>Listing all Events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calendars.each do |calendar| %>
  <tr>
    <td><%= calendar.title %></td>
    <td><%= calendar.content %></td>
    <td><%= calendar.user.email %></td>
    <td><%= link_to 'Show', calendar %></td>
    <% if calendar.user == current_user %>
      <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
      <td><%= link_to 'Destroy', calendar, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>


<% if current_user %>
  <h1>My Events</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_calendars.each do |calendar| %>
  <tr>
    <td><%= calendar.title %></td>
    <td><%= calendar.content %></td>
    <td><%= calendar.user.email %></td>
    <td><%= link_to 'Show', calendar %></td>
    <% if calendar.user == current_user %>
      <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
      <td><%= link_to 'Destroy', calendar, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<% end %>


<br />


<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  <%= calendar_for @calendars, :year => @date.year, :month => @date.month do |calend| %>
    <%= calend.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <% calend.day(:day_method => :event_date) do |date, calendars| %>
      <%= date.day %>
      <ul>
        <% for calendar in calendars %>
          <li><%= link_to h(calendar.name), calendar %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Calendar', new_calendar_path %>
