<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :shedule %><br />
    <%#= f.date_select :shedule %>
    <%= f.text_field :shedule %>
  </div>

  <div class="field">
    <%= f.label :repeat %><br />
    <%= desc_and_rule = [['None', nil]]
        #Event.available_repeats.each_index do |i| 
        #  desc_and_rule << [Event.available_repeats[i].to_s, i]
        #end
        Event.available_repeats.each do |r| 
          desc_and_rule << r.to_s
        end
        # Event.available_repeats.map{ |r| r.to_s}
        f.select :repeat, desc_and_rule %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
